@use "../abstracts/variables" as var;

* {
    box-sizing: border-box;
}

body {
    font-style: var.$principal-font;
    background-color: #f5e8d7;
    margin: 0;
}

h1 {
    font-size: 3.75rem;
    margin: 0;
}

h2 {
    font-size: 2rem;
    margin: 0;
}

h3 {
    font-size: 1.75rem;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.25rem;
}