@use "../abstracts/variables" as var;

body {
    font-style: var.$principal-font;
    background-color: #f5e8d7;
    margin: 0;
}

h1 {
    font-size: 3.75rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

a {
    text-decoration: none;
}