* {
  box-sizing: border-box;
}

body {
  font-style: "DMSans Regular";
  background-color: #f5e8d7;
  margin: 0;
}

h1 {
  font-size: 3.75rem;
  margin: 0;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

h3 {
  font-size: 1.75rem;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.25rem;
}

@font-face {
  font-family: "DMSans Regular";
  src: url(../fonts/DM_Sans/static/DMSans_18pt-Regular.ttf);
}
.menu-item {
  background: linear-gradient(to right, #0F513A, #71982B);
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 1.25rem;
}

.cta {
  background-color: #054D3B;
  padding: 10px 15px;
  border-radius: 10px;
  color: white;
  font-size: 1.25rem;
}

header {
  display: flex;
  justify-content: center;
  gap: 50%;
  align-items: center;
}
header .logo-container {
  width: 10%;
}
header .logo-container img {
  width: 65%;
}

.project-cards {
  width: 20%;
  background-color: white;
  border-radius: 5px;
  padding: 1%;
}

#presentation {
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 5%;
}
#presentation .presentation-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 30%;
}
#presentation .presentation-content p:first-of-type {
  font-size: 2rem;
  margin: 0;
}
#presentation .presentation-content h1 {
  margin: 0;
}
#presentation .presentation-img-container {
  width: 30%;
  height: 40vh;
  z-index: 1;
  position: relative;
  border-top-left-radius: 15px;
}
#presentation .presentation-img-container img {
  border-top-left-radius: 15px;
  width: 100%;
}
#presentation .img-background {
  width: 100%;
  height: 100%;
  background-color: #054d3b;
  z-index: -1;
  position: absolute;
  right: -1.5%;
  bottom: -1.5%;
}

.projet-heading {
  margin-left: 12.5%;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 10%;
}
.card-container .project-cards {
  margin-bottom: 2.5%;
}

.mission-banner-container {
  background-image: url(../img/farmer-bg.jpg);
  background-size: cover;
  background-position: center;
  height: 75vh;
  width: 100%;
  display: flex;
}
.mission-banner-container .img-container {
  width: 50%;
  height: 25%;
  border-radius: 10px;
  padding-top: 2.5%;
}
.mission-banner-container .img-container img {
  max-width: 100%;
  border-radius: 10px;
}
.mission-banner-container .mission-banner-content {
  display: flex;
  background-color: white;
  position: relative;
  top: 12.5%;
  left: 10%;
  width: 85%;
  height: 75%;
  border-radius: 10px;
  font-size: 1.25rem;
  padding: 1%;
}
.mission-banner-container .mission-banner-content .mission-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 75%;
}
.mission-banner-container .mission-banner-content .mission-content .list-container {
  display: flex;
}

.news-content-heading {
  margin-top: 5%;
}
.news-content-heading h2 {
  margin-left: 15%;
}
.news-content-heading .news-heading-card {
  display: flex;
  width: 80%;
  margin: 0 auto;
}
.news-content-heading .news-heading-card .card-img-container {
  border-radius: 10px;
  width: 50%;
  height: 30vh;
}
.news-content-heading .news-heading-card .card-img-container img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.news-content-heading .news-heading-card .card {
  padding: 2.5%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 50%;
  background-color: white;
}

.news-content {
  display: flex;
  justify-content: center;
  gap: 2.5%;
  margin-top: 5%;
}
.news-content .news-card {
  width: 25%;
  border-radius: 10px;
  background-color: white;
}
.news-content .news-card .card-img-container {
  width: 100%;
  height: 30vh;
  border-radius: 10px;
  padding: 2%;
}
.news-content .news-card .card-img-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.news-content .news-card .card-content {
  width: 100%;
  padding: 5%;
}

.gallery-heading {
  margin-left: 17.5%;
  margin-top: 5%;
  margin-bottom: 1.5%;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  width: 65%;
  margin: 0 auto;
}
.gallery-container .gallery-img {
  width: 100%;
  border-radius: 10px;
}
.gallery-container .gallery-img img {
  width: 100%;
  border-radius: 10px;
}

.gallery-img-2 {
  width: 100%;
  max-height: 33.5vh;
  padding-bottom: 10px;
}
.gallery-img-2 img {
  min-height: 100%;
}

.gallery-img-4 {
  grid-column: 2/3;
  grid-row: 2;
  margin-top: -75%;
  max-height: 32vh;
  padding-bottom: 10px;
}
.gallery-img-4 img {
  min-height: 100%;
}

.gallery-img-5 {
  min-width: 200%;
  max-height: 100%;
}
.gallery-img-5 img {
  object-fit: cover;
  max-height: 28.4vh;
}

.video-heading {
  display: flex;
  justify-content: flex-end;
  margin-right: 12.5%;
  margin-top: 5%;
}

.video-content {
  display: flex;
  gap: 25px;
  width: 75%;
  height: 260px;
  margin: 0 auto;
}
.video-content iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.don-container {
  background-color: #799E29;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  padding: 1.5%;
}
.don-container .cta {
  margin-left: 20%;
  background-color: white;
  color: #054D3B;
}

.support-container {
  display: flex;
  justify-content: center;
  gap: 4%;
  margin: 2.5%;
}
.support-container .logo-container {
  width: 20%;
  height: 30vh;
}
.support-container .logo-container img {
  max-width: 100%;
  height: 100%;
}

/*# sourceMappingURL=style.css.map */
